:root
{
  --main-color:rgb(55, 54, 54);
  --secondary-color: rgb(233, 149, 163);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Dancing Script', cursive;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}
.container
{
  width: 80%;
  margin: auto;
}
.header .container{
  display: flex;
  justify-content: space-between;
}
.header .container .logo{
  width: 200px;
  height: 200px;
}
.header .container .header-list
{
  margin-top: 70px;
}
.header-list-item:first-child{

}
.header .container .header-list-item li{
  display: inline-block;
  margin-left: 5px;
}
.header .container .header-list-item li .link-item{
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}
.header .container .header-icons
{
  margin-top: 70px;
  font-size: 30px;
  color: var(--main-color);
}
.header-tag {
  display: inline-block;
  text-align: center;
  padding: 0px 5px;
  position: relative;
}
.header-tag:hover {
  box-shadow: 3px 3px 10px var(--secondary-color);
  transition: 0.3s;
  transition-delay: 0.5s;
}
.tag-h-border {
  position: absolute;
  width: 0px;
  height: 1px;
  background-color: var(--secondary-color);
  left: 0;
  transition: 0.4s;
}
.tag-border-top {
  top: 0;
}
.tag-border-bottom {
  bottom: 0;
}
.header-tag:hover .tag-h-border{
  width: 100%;
  transition-delay: 0.2s;
}
/* Left && Right Border */
.tag-v-border {
  position: absolute;
  width: 1px;
  height: 0px;
  background-color: var(--secondary-color);
  top: 50%;
  transition: 0.4s;
}
.tag-border-left {
  left: 0;
}
.tag-border-right {
  right: 0;
}

.header-tag:hover .tag-v-border {
  height: 100%;
  top: 0;
}
.header .container span
{
  height: 40px;
  width:40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin-left: -15px;
}
.header .container .shape-header
{
  padding: 0px 5px;
  text-align: center;
  margin-top: -35px;
  color: white
}
.header .container .hidden-list
{
  height: 200px;
  width: 300px;
  position: absolute;
  border: 3px solid var(--secondary-color);
  display: none;
  font-size:18px ;
  padding: 20px;
  z-index: 2;
}
.hidden-list .hidden li{
  margin-left: 5px;
}

.head{
  font-weight: bold;
  border-bottom: 2px dotted var(--secondary-color) ;
}
.header .container .shop
{
  background-color: white;
  font-size: 20px;
}
.header .header-list-item .item-20:hover .hidden-list
{
 display: flex;
 margin-top: 10px;
}
/* Main Section */
.img
{
  margin-top: -20px;
  position: relative;
}
.text-main{
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-10%,-10%);
  text-align: center;

}
.text-main h3{
  font-size: 70px;
  color: var(--main-color);
  display: block;
}
.text-main .btn{
  font-size: 40px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.special-heading
{
  text-align: center;
  color: var(--main-color);
  margin-top: 50px;
  margin-left: 500px;
  font-size: 70px;
}
.special-line
{
  margin: auto;
  background-color: var(--secondary-color);
  width: 200px;
  height: 4px;
}
.offers .container:hover .special-line{
  width: 300px;
}
/* offers-section */

.offer-container
{
    width: 80%;
    margin: auto;
}
.offer-head
{
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: rgb(66, 65, 65);
}
.offer-line
{
    margin: auto;
    width: 300px;
    height: 3px;
    margin-top: 5px;
    background-color: rgb(227, 133, 148);
}
.offer-container:hover .offer-line{
    width: 400px;
}
.offer-content
{  
     width: 100%;
    height: 100%;
    background-color: pink;
    margin-top: 50px;
    margin-bottom: 100px;
}
.offer-item
{
    background-color: rgb(241, 236, 237);
    float: left;
    width: 30%;  
}
.item-1
{
    margin: 0 5%;
}
.offer-icons
{
    position: absolute;
    z-index: 2;
    font-size: 25px;
    top:0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transform: 10s;
}
.offer-item
{
    position: relative;
}
.offer-icons a 
{
    height:40px;
    width: 40px;
    font-size: 15px;
    border-radius:50% ;
    text-align: center;
    display: block;
    color: var(--main-color);
    background-color: white;
}
.offer-icons a i{
  line-height: 40px;
}
.offer-item:hover .offer-icons 
{
    visibility: visible;
    opacity: 0.8;
}
.offer-data
{
    float: left;
}
.offer-arrow
{
    height: 50px;
    width: 50px;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    background-color: pink;
    color: rgb(66, 65, 65);
    line-height: 60px;
    visibility: hidden;
    opacity: 0;
}
.offer-item:hover .offer-arrow
{
    visibility: visible;
    opacity: 1;
}
.offer-title
{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    padding-left: 5px;
    margin: 5px;
}
.offer-paragraph
{
    font-size: 20px;
    color: rgb(70, 67, 67);
    padding-left: 5px;
    float: left;   
}
.offer-item img{
   
    margin: auto;
    width: 100%;
}
.discount{
  margin-top: 100px;
}
.discount .container{
  display: flex;
padding-top: 50px;
}
.discount .discount-text
{
  background-color: rgb(245, 221, 225);
  width: 50%;
  padding: 20px;
  color: var(--main-color);
}
.discount i{
  font-size:40px ;
  color: var(--secondary-color);
}
.discount .discount-text i,h3{
  display: inline;
  font-size: 40px;
  font-weight: bold;
}
.discount .discount-text h3 + p{
  margin-left: 60px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}
.discount .discount-text .para
{
  line-height: 0.8;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
}
.discount .photos
{
  width: 50%;
  display: flex;
}
.discount 
.img-1 
{
  margin: 0 3%;
}
.dis-img:hover{
  transform:scale(1.125) ;
  transition: 5s;
}
.lines
{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.lines .dis-line
{
  width: 60px;
  height: 4px;
  background-color: var(--main-color);
  margin-left: 20px;
}
/* delivery */
.icons-container-items
{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 220px;
    background-color: rgb(241, 236, 237);
    overflow: auto;
}
.line-one
{
    height: 120px;
    width: 2px;
    background-color: gray;
    float: left;
    margin-left: 25px;
    margin-top:60px;
}
.truck
{
    
    display: block;
    font-size: 3em;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: 0.3s;
   
}
.truck-overlay
{
    display: block;
    font-size: 3em;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 0;
    text-align: center;
    color: rgb(227, 133, 148);
    transition: 0.3s;
    z-index: 10;
}

.icon-item{
  width: 15%;
  float: left;
  margin-top: 40px;
  margin-left: 25px;
  color: rgb(68, 66, 66);
  text-align: center;
}
.icon-item-container
{
    position: relative;
    height: 50px;
    margin-bottom: 25px;
    overflow: hidden;
}
.icon-item:hover .truck{
    height: 0;
    bottom: 200%;
    transition: 0.3s;
}
.icon-item:hover .truck-overlay
{
    height: 100%;
    transition: 0.3s;
}
.icons-container-line
{
    width: 80%;
    background-color: rgb(68, 66, 66);
    height: 2px;
    margin: auto;
}
.products .container .products-items{
  display: flex;
}
.product-item
{
  position: relative;
}
.product-img
{position: absolute;}
.product-overlay
{
  position: absolute;
}
.products-head
{
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
    text-decoration: none;
    margin-top: 40px;
}
.products-container
{
    width: 75;
    margin-top: 50px;
    overflow: auto;
}
.products-line
{
    margin: auto;
    height: 4px;
    width: 100px;
    background-color:var(--secondary-color);
    margin-bottom: 50px;
}
.products-container:hover .products-line{
    width: 200px;
}

.products-head:hover .products-line
{
    width: 200px;
}
.products-container a{
    text-decoration: none;
}
.products-content
{
    width: 100%;
  
}
.products-container
{
    width: 80%;
    margin: auto;
}
.products-items{
    width: 100%;
}
.products-item
{
    width: 28%;
    float: left;
   
}
.product-item-img
{
  
    position: relative;
   
}
.product-item-img-overlay
{
    position: absolute;
    top: 0;
    left:0;
    transform: scaleX(0);
    opacity: 0.8;

}
.products-item:hover .product-item-img-overlay{
    transform: scaleX(1);
    transition: 2s;
}
.img-icons
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.img-icons li 
{
    display: inline-block;
    list-style-type: none;
}
.img-icons li a{
    color:  rgb(68, 66, 66);
    font-size: 40px;
    margin-left: 5px;
}
.products-list-icons li 
{
    display: inline-block;
    color: yellow;
    font-size: 20px;
}
.product-para
{
   
    font-size: 40px;
    color: rgb(66, 65, 65);
}
.para-1
{
    font-weight: bold;
}
.item-2
{
    margin: 0 5%;
}